html{
    box-sizing: border-box;
    
}
@import "/css/nav.css";

*, *:before, *:after {
    box-sizing: inherit;
}

#newsletter-content {
    display: flex;
    color: #d44720;
    justify-content: center;
    overflow: auto;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    margin: 450px 0 0;
    .popupButton {
        cursor: pointer;
        font-size: 16px;
        font-family: "Silkscreen", sans-serif;
        border-radius: 28px;
        background-color: #d44720;
        color: #e5d2bd;
        padding: 10px;
        position: absolute;
        top: 200px;
        left: 200px;
        text-align: center;
        margin: 100px 0 0;
    } .popupButton:hover {
        background-color: #432467;
    } .popup {
        display: none;
        position: fixed;
        z-index: 100;
        background-color: #432467;
        justify-content: center;
        align-content: center;
        padding: 20px;
        border-radius: 28px;
        /* margin-left: 800px; */
        margin-bottom: 500px;
        top: 100px;
        left: 200px;
    } .popupForm {
        background-color: #432467;
        width: 400px;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        /* margin-left: 450 px; */
       
    } .popup input[type="text"],
    .popup input[type="email"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px double #d44720;
        border-radius: 10px;
    } .popup button {
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 28px;
        background-color: #d44720;
        color: #e5d2bd;
        font-family: "Silkscreen", sans-serif;
    } .popup button:hover {
            background-color: #78614d;
    } .close {
        color: #aaa;
        font-size: 28px;
        position: absolute;
        top: 5px;
        right: 25px;
        cursor: pointer;
    } .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}